<h2>Edit <%= @pokemon.name %></h2>

<form action="/pokemons/<%= @pokemon.id %>" method="post">

  <input type="hidden" name ="_method" value="put">

  <label>Name:</label>
  <input type="text" name="pokemon[name]" value="<%= @pokemon.name %>">

  <label>Type: </label>
  <input type="text" name="pokemon[poke_type]" value = "<%= @pokemon.poke_type %>">

  <label>Photo Url:</label>
  <input type="text" name="pokemon[img_url]" value="<%= @pokemon.img_url %>">

  <input type="submit" value = "Update">

</form>
