<div class="poke-style">
<h1>Welcome to your Pokedex</h1>

<% @pokemons.each do |pokemon| %>

  <div class="poke-box">
    <h2><a class="poke-name" href="pokemons/<%= pokemon.id %>"><%=pokemon.name%></a></h2>
  <!-- <p>Type: <%= pokemon.poke_type %></p> -->
    <img class="poke-img"src="<%= pokemon.img_url %>" alt="<%= pokemon.name %>" width="50px">
  </div>

<% end %>

<h3><a href="/pokemons/new">Add new Pokemon</a></h3>
<h2><a href="/">Back Home</a></h2>
<!-- <audio autoplay>
  <source src="/sounds/pokemon-theme.mp3" type="audio/mp3">
</audio> -->
</div>
