<div class="pokemon">
  <h2>Pokemon Name: <%= @pokemon.name %></h2>
  <p>Pokemon Type: <%= @pokemon.poke_type %></p>
  <p>Combat Points (CP): <%= @pokemon.cp %></p>
  <p>Trainer: <a href="/trainers/<%=@pokemon.trainer.id%>"><%= @pokemon.trainer.name %></a></p>

  <p><img src= <%= @pokemon.img_url %> alt="<%= @pokemon.name %>"</p>
</div>

  <a href="/pokemons/<%= @pokemon.id %>/edit">Edit Pokemon</a>
  <a href="/pokemons">Go back to all Pokemons</a>

</div>

<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="poke-button" type="submit" name="" value="Kill this Pokemon!">
</form>
